/*
Theme Name: Hestia Child Theme
Theme URI: http://www.jetsquared.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: jetsquared 
Author URI: http://www.jetsquared.com
template: hestia
*/

/* Add your custom styles here... */ 
